footer.footer
	.footer__body
		.footer__details
			+logo
			.footer__info Empower your creativity.
		.footer__group
			.footer__item
				.footer__category CRYPTER.
				.footer__menu
					a.footer__link(href="discover.html") Discover
					a.footer__link(href="create.html") Create
					a.footer__link(href="blog-detail.html") How it work
			.footer__item
				.footer__category INFO
				.footer__menu
					a.footer__link(href="feed.html") Feed
					a.footer__link(href="help.html") Help center
					a.footer__link(href="blog.html") Blog
			.footer__item
				.footer__category SOCIAL
				.footer__menu
					a.footer__link(href="https://www.instagram.com/crypternet/" target="_blank")
						+i('instagram')
						| Instagram
					a.footer__link(href="https://twitter.com/crypter" target="_blank")
						+i('twitter')
						| Twitter
					a.footer__link(href="https://www.facebook.com/crypter.net/" target="_blank")
						+i('facebook')
						| Facebook
	.footer__foot
		.footer__copyright Copyright © 2022 crypter LLC. All rights reserved
		.footer__cookies We use cookies for better service.
			button.button-stroke.button-small.footer__button ACCEPT

		