// owners
.owners
	+follower("img/content/artists/artist-1.jpg", "history", "Dash", "randomdash", "12 NFTs")
	+follower("img/content/artists/artist-2.jpg", false, "Kohaku", "kohaku", "4 NFTs")
	+follower("img/content/artists/artist-3.jpg", "history", "Moyo Shiro", "moyoshiro", "8.22 NFTs")
	+follower("img/content/artists/artist-4.jpg", "history", "Dash", "randomdash", "5.2 NFTs")
	+follower("img/content/artists/artist-5.jpg", false, "Kohaku", "kohaku", "1.1 NFTs")