---
title: Crypter 2
headerEmpty: true
footerHide: true
---
extends layouts/layout
block content
	// create
	.create
		.create__col
			.create__wrap
				.create__title.h1 Create on <br>Crypter.
				+arrow
				.create__content We are laying the groundwork for web3 — the next generation of the internet full of limitless possibilities. Join the millions of creators, collectors, and curators who are on this journey with you.
		.create__col
			.create__head 
				.create__subtitle Your collection
				.create__counter 0
			a.create__add(href="create-step-1.html")
				.create__plus
				.create__info Create new collection
				.create__text Deploy a smart contract to mint your NFTs.
			.create__list
				.create__box
					.create__preview
						+i('picture')
					.create__lines
				.create__box
					.create__preview
						+i('picture')
					.create__lines
				.create__box
					.create__preview
						+i('picture')
					.create__lines
			.create__foot
				a.create__link(href="blog-detail.html") Learn about Collection on Crypter
