---
title: Crypter 2
headerClass: header_noShadow
pageColor: "#F1F4F4"
headerEmpty: true
footerHide: true
---
extends layouts/layout
block content
	// congrats
	.congrats
		.congrats__wrapper
			a.button-circle.congrats__close(href="index.html")
				+i('close')
			.congrats__inner
				.congrats__preview
					.congrats__image
						img(src="img/content/congrats.png" alt="")
					.congrats__polygon
						.congrats__background
							svg(width="0" height="0" style="display: block")
								clipPath(id="polygon" clipPathUnits="objectBoundingBox")
									path(d="M0.56734176,0.00289554786 C0.588460408,-0.00379357421 0.611542883,0.00129193347 0.627894867,0.016236395 L0.958957144,0.318801867 C0.975311066,0.333746135 0.982451374,0.356279281 0.97768471,0.37791238 L0.881186884,0.815905858 C0.87642022,0.837539926 0.860475146,0.854986693 0.839356498,0.861676493 L0.411795427,0.997104015 C0.390676779,1.00379382 0.367594303,0.998708404 0.35124232,0.983763168 L0.020177136,0.68119818 C0.00382466766,0.666253913 -0.00331254023,0.643720766 0.00145363969,0.622087667 L0.0979503025,0.184093898 C0.102716967,0.162460315 0.11866204,0.145012773 0.139780689,0.138323651 L0.56734176,0.00289554786 Z")
					.congrats__confetti
						img(src="img/content/confetti.png" alt="")
				.congrats__details
					.congrats__title.h1 Congrats
					.congrats__content You’ve now deployed your very own smart contract! <br>This is an important first step for all creators to make as you share your work and mint NFTs in web3.
					.congrats__btns
						a.button-large.congrats__button(href="nft.html") View NFT
						a.button-stroke-grey.button-large.congrats__button(href="share-nft.html")
							span share
							+i('share')
