---
title: Crypter 2
classLinkMenuHelpCenter: active
classLinkAccountHelp: active
---
extends layouts/layout
block content
	// home
	.home
		img(src="img/content/help-detail.jpg" alt="")
		.home__wrap
			.home__title.h1 Guide to collection NFT artworks on Crypter
			ul.home__breadcrumbs
				li
					a(href="help.html") Help center
				li Buying
	// category
	.category
		.category__item
			.category__preview
				img(src="img/content/help-photo-1.jpg" alt="")
			.category__content.content
				h3 Guide to collection NFT artworks on Crypter
				p We are laying the groundwork for web3 — the next generation of the internet full of limitless possibilities. Join the millions of creators, collectors, and curators who are on this journey with you.
				p Ratione earum minus quia consectetur debitis magnam. Ex nemo maiores reiciendis distinctio. Cupiditate nihil doloribus repellat voluptatem.
				p Et id possimus harum ipsa eum odit labore. Eligendi repellat impedit eaque corporis dolor ipsam vero. Vitae beatae aperiam consequatur consequatur praesentium minus sequi magni.
				p Et neque dolor velit aliquid earum reiciendis sequi harum. Laudantium et doloremque deleniti quaerat. Dolorem molestias doloribus. Non non laboriosam ut assumenda vel aut sequi.
		.category__item
			.category__preview
				img(src="img/content/help-photo-2.jpg" alt="")
			.category__content.content
				h3 Place a bid
				p We are laying the groundwork for web3 — the next generation of the internet full of limitless possibilities. Join the millions of creators, collectors, and curators who are on this journey with you.
				p Et neque dolor velit aliquid earum reiciendis sequi harum. Laudantium et doloremque deleniti quaerat.
				ul
					li Connect your wallet to Crypter
					li Guide to collection NFT artworks on Crypter
					li Marketplace balance
					li Marketplace fees
					li What is offer price?
		.category__item
			.category__preview
				img(src="img/content/help-photo-3.jpg" alt="")
			.category__content.content
				h3 Buy now
				p We are laying the groundwork for web3 — the next generation of the internet full of limitless possibilities. Join the millions of creators, collectors, and curators who are on this journey with you.
				p Et neque dolor velit aliquid earum reiciendis sequi harum. Laudantium et doloremque deleniti quaerat.
				ul
					li Connect your wallet to Crypter
					li Guide to collection NFT artworks on Crypter
					li Marketplace balance
					li Marketplace fees
					li What is offer price?
	// articles
	.articles
		.articles__title.h1 Related <br>articles.
		.articles__links
			a.articles__link(href="/help-detail.html") Connect your wallet to Crypter
			a.articles__link(href="/help-detail.html") Guide to collection NFT artworks on Crypter
			a.articles__link(href="/help-detail.html") Marketplace balance
			a.articles__link(href="/help-detail.html") Marketplace fees
			a.articles__link(href="/help-detail.html") What is offer price?

		