---
title: Crypter 2
headerEmpty: true
footerHide: true
---
extends layouts/layout
block content
	// mint
	.mint
		.mint__col
			.mint__wrap
				.mint__head
					.mint__title.h1 Mint your NFT
					a.button-circle.mint__back(href="index.html")
						+i('arrow-left')
				.mint__info Approve the transaction in your wallet
				.mint__content Deploying a smart contract means that your collection will be added to the blockchain. Anytime you interact with the blockchain, you’ll need to approve the transaction and pay a gas fee to the network.
				a.button-large.mint__button(href="mint-nft-congrats.html")
					span Approve
					+i('arrow-right')
		.mint__col
			// upload
			.upload
				.upload__stage.h3 Preview
				.upload__file
					img(src="img/content/main-pic-1.jpg" alt="")
				.upload__title.h3 The Explorer
				.upload__item
					.upload__preview
						img(src="img/content/cute-planet-1.png" alt="")
					.upload__wrap
						.upload__subtitle Cute Planet
						.upload__price 12 NFTs
					.upload__lines

			